body {
    margin: 0;
}
.wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
img {
    width: 400px;
    height: auto;
}
.contacts span {
    font-weight: bold;
}
.leftside {
    background-color: #dadada;
}
.skills h3, .languages h3 {
    text-transform: capitalize;
    border-bottom: 3px solid #9d9d9d;
    width: 85%;
}
.description_wrapper {
    padding-left: 40px;
}
.skills ul {
    padding-left: 15px;
}
a {
    color: black;
}
.about_profession span {
    font-weight: bold;
}
.about_profession {
    padding: 0 40px;
    background-color: #dadada;
    height: 400px;
    display: flex;
    align-items: center;
}