body {
    margin: 0;
}
.wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
img {
    width: 400px;
    height: auto;
}
.contacts span {
    font-weight: bold;
}
.leftside {
    background-color: #dadada;
}
.skills h3, .languages h3 {
    text-transform: capitalize;
    border-bottom: 3px solid #9d9d9d;
    width: 85%;
}
.description_wrapper {
    padding-left: 40px;
}
.skills ul {
    padding-left: 15px;
}
a {
    color: black;
}
.about_profession span {
    font-weight: bold;
}
.about_profession {
    padding: 0 40px;
    background-color: #dadada;
    height: 400px;
    display: flex;
    align-items: center;
}
.avatar_wrapper {
    display: flex;
    height: 400px;
    align-items: flex-end;
}
.name, .surname {
    position: absolute;
    width: 400px;
    background: #2c2a2ab3;
    text-align: right;
    color: white;
    text-transform: uppercase;
}
.name h1 {
    padding-right: 5px;
}
.surname {
    width: 795px;
    text-align: left;
    padding-left: 5px;
}
.avatarka_img {
    height: 400px;
}
.rightside {
    display: flex;
    flex-direction: column;
}
.line_rightside {
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
}
h3 {
    border-bottom: 3px solid #9d9d9d;
}
.others_wrapper {
    padding: 20px 40px;
}